@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --color1: #CEAB93;
    --color2: #AD8B73;
    --color3: #E3CAA5;
    --color4: #FFFBE9;
    --black: #130f40;
    --yellow: #ffff00;
    --light-color: #665;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: 2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}
*{
    font-family: 'Jost', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}

section{
    padding: 4rem 9%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:#000;
}

.heading span{
    background: #AD8B73;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--color2);
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #CEAB93;
    box-shadow: var(--box-shadow);
}

.header .logo{
    height: 10vh;
    width: 100%;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color:#FFFBE9;
}
.header .navbar a:hover{
    color:#665;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:#130f40;
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background:#665;
    color: #fff;
}
#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 110%; 
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}

header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:black;
    padding: 0 1rem;
}

header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;
}

header .search-form label:hover{
    color:#CEAB93;
}

.header .shopping-cart{
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height: 10rem;
}
.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover{
    color:#AD8B73;
}

.header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
}
.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}
.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--light-color);
}
.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}

.header .login-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a{
    color: var(--color2);
    text-decoration: underline;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('images/wallpaperflare.com_wallpaper.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width: 60rem;
}

.home .content h3{
    color: #000;
    font-size: 3rem;
}

.home .content h3 span{
    color: var(--color2);
}

.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    list-style: 1.8;
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 10rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(#000);
}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

.menu .menu-slider{
    padding: 1rem;
}

.menu .menu-slider:first-child{
    margin-bottom: 2rem;
}

.menu .menu-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.menu .menu-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.menu .menu-slider .box img{
    height: 15rem;
}

.menu .menu-slider .box h3{
    font-size: 2.5rem;
    color: var(#000);
}

.menu .menu-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.menu .menu-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--yellow);
    padding: .5rem 0;
}
/*start*/
.recipe .recipe-slider{
    padding: 1rem;
}
.recipe .recipe-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.recipe .recipe-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.recipe .recipe-slider .box img{
    height: auto;
    width: 100%;
    border-radius: 10%;
}

.recipe .recipe-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.recipe .recipe-slider .box h3{
    padding-bottom: .5rem;
    color: var(#000);
    font-size: 2.2rem;
}
/*stop*/

.review .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3{
    padding-bottom: .5rem;
    color: var(#000);
    font-size: 2.2rem;
}

.review .review-slider .box .stars{
    color: var(--yellow);
    font-size: 1.7rem;
}

.suggestion .suggestion-wall{
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 90%;
}

.suggestion .h1{
    font-size: 20px;
    margin: 30px;
    padding: 0 20px;
    margin-bottom: 15px;
}
.suggestion .h1 span{
    font-size: 20px;
    margin: 30px;
    padding: 0 20px;
    margin-bottom: 15px;
}

.suggestion .suggestion-wall form{
    background: #fff;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem .5rem;
    outline-offset: -1rem;
    outline: var(#AD8B73);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    margin-top: 10%;
}

.suggestion .suggestion-wall h2{
    font-size: 20px;
    margin-bottom: 15px;
}
.suggestion .suggestion-wall input{
    width: 50%;
    height: 30px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #665;
}
.suggestion .suggestion-wall input:focus{
    border: 1px solid #000;
    outline: 0;
}
.suggestion .suggestion-wall textarea{
    width: 50%;
    height: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-right: 30%;
    margin-left: 25%;
    border-radius: 5px;
    border: 1px solid #665;
}
.suggestion .suggestion-wall button{
    align-items: center;
    border: 0;
    padding: 10px 30px;
    background: #AD8B73;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}
.suggestion .suggestion-wall button:hover{
    background: #CEAB93;
}

.section{
    width: 100%;
    min-height: 100vh;
   
}
.container1{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
    border-radius: 10%;
} 
.image-section h3{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}
.image-section p{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.image-section i{
    color: #AD8B73;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 22px;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover{
    background-color: #CEAB93;
    color: #fff;
}

.content-section .social{
    margin: 40px 40px;
    
}

.content-section .social i{
    text-align: center;
    color: #AD8B73;
    font-size: 30px;
    padding: 10px 5px;
    margin-left: 40px;
}
.content-section .social i:hover{
    color: #E3CAA5;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: url('images/logo1.png');
    background-size: cover;*/
}
/*.contact img{
    height: auto;
    width: 30%;
    align-items: center;
}*/
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #000;
}
.contact .content p{
    font-weight: 300;
    color: #000;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #CEAB93;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #AD8B73;

}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;

}

.contactForm h2{
    font-size: 30px;
    color: #AD8B73;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #AD8B73;
    color: #000;
    border: none;
    cursor: pointer;
}





@media (max-width:991px){
   
    html{
        font-size: 55%;
       
    }
    
    .header{
        padding: 2rem;
    }

    section{
        padding: 4rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 90%;
    }

    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #E3CAA5;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width:450px){
   
    html{
        font-size: 50%;
       
    }

    .heading{
        font-size: 2.5rem;
    }
}